body{
background-color:lightcyan;
font-family:cursive;
margin:20

}
h1{
 background-color:darkgrey;
display:flex;
justify-content:right;
color:red
}
h2{
    color:royalblue;
 
   
    font-size:xx-large;
}
p{
    color:tomato;


}
.ins{
    color:maroon;
  margin:20px;
  font-size: 17px;
  
  
}
.hov:hover{
    color:springgreen;
    opacity:1;
}
.hov{
opacity:0.3;
color:orchid;


}
h4{
    font-size: 34px;
    color:royalblue;
    
}
p{
    font-size: 20px;
    color:tomato;
    margin:10px;
}

.facts{
    color:maroon;
    font-size: 17px;
    margin:20px
}
.hov2:hover{
    opacity:1
}
.hov2{
    opacity:0.3
}

h3{
    font-size: 34px;
    color:royalblue
}

p{
    font-size: 20px;
    color:tomato;
    margin:20px;
}
.facts2{
    color:maroon;
    font-size: 17px;
    margin:20px
}
.hov3{
    color:orchid;
    opacity:0.4
}
.hov3:hover{
    opacity:1;

}
h5{
    font-size: 34px;
    color:royalblue
}
.facts3{
    color:maroon;
    font-size: 17px;
    margin:20px
}
.hov4{
    color:orchid;
    opacity:0.4
}
.hov4:hover{
    opacity:1;

}


